@{
    ViewBag.Title = "finish";
}
<!DOCTYPE html>
<html>
<head>
    <title>確認請款失敗</title>
    <!-- 這裡可以放置 CSS 樣式或其他相關檔案的引用 -->
</head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h1>您的交易已取消</h1>
        <p>請返回付款頁面重新進行linepay付款</p>
        <a href="https://localhost:44369/Home/Payment">重新付款</a>
    </div>
</body>
</html>